article {
    width: 100%;
    height: 85vh;
    padding: 5rem 10rem;
    background-image: url('https://previews.123rf.com/images/asjack/asjack1903/asjack190300328/118940377-successful-handsome-man-in-the-car.jpg');
}